* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #f6f8fc;
}

.content {
    width: 100vw;
    height: 100vh;
    padding: 1rem;
    /* background-color: #fff; */
}

body .dark-theme {
    background-color: #3f5070;
}

.content .dark-theme {
    width: 100vw;
    height: 100vh;
    padding: 1rem;
    background-color: #232b3a;
}

#generations {
    display: flex;
    align-items: center;
    justify-content: end;
    flex-wrap: wrap;
    gap: 0.5rem;
}

@media screen and (min-width: 992px) {
    .content {
        max-width: 992px;
        height: auto;
        margin: 1rem auto;
        border-radius: 1rem;
    }
}